<div class="wellcome bg-dark d-flex flex-column justify-content-center align-items-center">
    <div class="redirect-user" routerLink="/todo-list">
        <img src="../../assets/images/logo.png" width="70">
    </div>
    <h1 class="text-white">
        Page Not Fount <span class="text-danger">404</span>
    </h1>
</div>