nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 10px;
}
.left-block {
  display: flex;
  margin: 5px;
  padding: 0;
}
li a {
  color: #fff;
}
.nav-item img {
  filter: drop-shadow(0px 2px 10px #c3002f);
}