<nav class="w-100 bg-primary navbar-dark">
  <ul class="navbar-ul left-block">
    <li class="nav-item">
      <a routerLink="/todo-list">
        <img src="../../assets/images/logo.png" width="40">
      </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="/admin" routerLinkActive="router-link-active" >{{ 'TODO.admin' | translate }}</a>
    </li>
    <li *ngIf="isAdmin"class="nav-item">
        <a class="nav-link" routerLink="/admin/add-todo" routerLinkActive="router-link-active">{{ 'TODO.add' | translate }}</a>
    </li>
  </ul>
  <div class="right-block">
    <p-dropdown [options]="languages" [(ngModel)]="selectedLanguage" (onChange)="changeLanguage($event)">
      <ng-template let-item pTemplate="selectedItem">
        <i style="position: relative; top:5px;" class="pi pi-globe"></i>
        <span style="vertical-align:middle; margin-left: .5em">Language: {{selectedLanguage}}</span>
      </ng-template>
      <ng-template let-car pTemplate="item">
        <div class="ui-helper-clearfix" style="position: relative;height: 25px;">
          <img src="../assets/images/{{car.label}}.png" style="width:24px;position:absolute;top:1px;left:5px" />
          <div style="font-size:14px;float:right;margin-top:4px">{{car.label}}</div>
        </div>
      </ng-template>
    </p-dropdown>
  </div>
</nav>