<ng-container *ngIf="loader; else showTotos">
    <app-loader></app-loader>
</ng-container>
<ng-template #showTotos>
    <ng-container *ngIf="!hasError; else errorHandler ">
        <p-table #dt [columns]="cols" dataKey="id" [value]="todos" [paginator]="true" [rows]="5" editMode="row">
            <ng-template pTemplate="caption">
                <div style="text-align: right">
                    <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                    <input type="text" pInputText size="50" placeholder="{{ 'TODO.filter' | translate }}"
                        (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th class="th-header-id text-center">ID</th>
                    <th class="capitalize">{{ 'TODO.userId' | translate }}</th>
                    <th class="capitalize">{{ 'TODO.name' | translate }}</th>
                    <th class="capitalize">{{ 'TODO.description' | translate }}</th>
                    <th class="capitalize">{{ 'TODO.completed' | translate }}</th>
                    <th class="capitalize">{{ 'TODO.edit' | translate }}</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-todo let-editing="editing">
                <tr [pEditableRow]="todo">
                    <td style="width: 5px;">
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                {{todo.id}}
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{todo.id}}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <td class="text-center">
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <input pInputText type="text" [(ngModel)]="todo.userId" required>
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{todo.userId}}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <td>
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <input pInputText type="text" [(ngModel)]="todo.userName">
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{todo.userName}}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <td>
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <input pInputText type="text" [(ngModel)]="todo.description">
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{todo.description}}
                            </ng-template>
                        </p-cellEditor>
                    <td>
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <label class="capitalize checkbox">{{ 'TODO.completed' | translate }}</label>
                                <p-checkbox [(ngModel)]="todo.completed" binary="todo.completed"></p-checkbox>
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{todo.completed}}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <td style="text-align:center">
                        <button *ngIf="!editing" pButton type="button" pInitEditableRow icon="pi pi-pencil"
                            class="ui-button-info" (click)="onTodoEditInit(todo)"></button>
                        <button *ngIf="editing" pButton type="button" pSaveEditableRow icon="pi pi-check"
                            class="ui-button-success" style="margin-right: .5em"
                            (click)="onTodoEditSave(todo, todo.completed)"></button>
                        <button *ngIf="editing" pButton type="button" pCancelEditableRow icon="pi pi-times"
                            class="ui-button-danger" (click)="onTodoEditCancel(todo)"></button>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </ng-container>

    <ng-template #errorHandler>
        <div *ngFor="let msg of todos">
            <p>
                Status: {{msg.status}}
            </p>
        </div>
    </ng-template>
</ng-template>

<button type="button" (click)="showDialog()" pButton icon="pi pi-info-circle"
    label="{{ 'TODO.add' | translate }}"></button>