<ng-container *ngIf="loader; else showSpinner">
    <div *ngFor="let todo of userTodo" class="list-group">
        <h1 class="text-center"> <span class="capitalize"> {{'TODO.hello' | translate}}</span> {{todo.userName}} </h1>
        <a class="list-group-item list-group-item-action">
            <div class="d-flex justyfy-content-space-between justify-content-between">
                <div class="capitalize"> {{'TODO.description' | translate}}:</div>
                <div>{{todo.description}}</div>
            </div>
        </a>
        <a class="list-group-item list-group-item-action">
            <div class="d-flex justyfy-content-space-between justify-content-between align-items-center">
                <div class="capitalize"> {{'TODO.completed' | translate}}:</div>
                <div class="text-white" [ngClass]="{
                    'bg-success': todo.completed,
                    'bg-danger': !todo.completed
                }">{{todo.completed}}</div>
            </div>
        </a>
    </div>
</ng-container>

<ng-template #showSpinner>
    <app-loader></app-loader>
</ng-template>