<div class="d-flex justify-content-center align-items-center loader-content">
    <p-progressSpinner 
        class="ui-progress-path" 
        [style]="{width: '150px', height: '150px'}" 
        strokeWidth="5"
        fill="#fff" 
        animationDuration=".5s">
    </p-progressSpinner>
</div>