@import "~../node_modules/primeicons/primeicons.css";
@import "~../node_modules/primeng/resources/themes/nova-light/theme.css";
@import "~../node_modules/primeng/resources/primeng.min.css";
@import "~../node_modules/bootstrap/dist/css/bootstrap.min.css";

ul {
  list-style: none;
}

:focus {
  outline: -webkit-focus-ring-color auto 0px;
}

.wellcome {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  background-color: var(--gray-dark);
}

.img-container {
  display: flex;
  justify-content: center;
  margin: 5%;
}

.img-container img {
  animation: move 2s infinite;
  width: 250px;
  filter: drop-shadow(0 0 2px #fff);
}

.loader-content {
  margin: 5%;
}

.capitalize {
  text-transform: capitalize;
}

@keyframes move {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}

@keyframes ui-progress-spinner-color {
  from {
    stroke: #0057e7;
  }
  to {
    stroke: #0057e7;
  }
}
