<ng-container *ngIf="loader; else showTotos">
    <app-loader></app-loader>
</ng-container>
<ng-template #showTotos>
    <ng-container *ngIf="!hasError; else errorHandler ">
        <p-table #dt [columns]="cols" [value]="todos" [paginator]="true" [rows]="10">
            <ng-template pTemplate="caption">
                <div style="text-align: right">
                    <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                    <input type="text" pInputText size="50" placeholder="{{ 'TODO.filter' | translate }}"
                        (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th class="capitalize">{{ 'TODO.name' | translate }}</th>
                    <th class="capitalize">{{ 'TODO.description' | translate }}</th>
                    <th class="capitalize">{{ 'TODO.completed' | translate }}</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-todo>
                <tr class="tr-todos" [routerLink]="['/user', todo.id]">
                    <td>{{todo.userName}}</td>
                    <td>{{todo.description}}</td>
                    <td class="text-white" [ngClass]="{
                        'bg-success': todo.completed,
                        'bg-danger': !todo.completed
                    }">{{todo.completed}}</td>
                </tr>
            </ng-template>
        </p-table>
    </ng-container>

    <ng-template #errorHandler>
        <div *ngFor="let msg of todos">
            <p>
                Status: {{msg.status}}
            </p>
        </div>
    </ng-template>
</ng-template>