<div class="add-form-main">
    <form [formGroup]="addTodoForm" (ngSubmit)="submitAddTodoForm()">
        <div class="form-group">
            <label class="capitalize">{{ 'TODO.userId' | translate }}</label>
            <input formControlName="userId" maxlength="11" type="text" class="form-control" placeholder="{{ 'TODO.userId' | translate }}">
            <small class="form-text text-muted"> </small>
        </div>
        <div class="form-group">
            <label class="capitalize">{{ 'TODO.name' | translate }}</label>
            <input formControlName="userName" type="text" class="form-control" placeholder="{{ 'TODO.name' | translate }}">
            <small class="form-text text-muted"> </small>
        </div>
        <div class="form-group">
            <label class="capitalize">{{ 'TODO.description' | translate }}</label>
            <textarea formControlName="description" placeholder="{{ 'TODO.description' | translate }}" class="form-control" rows="5" id="comment"></textarea>
            <small class="form-text text-muted"> </small>
        </div>
        <div class="form-group">
            <label class="capitalize checkbox">{{ 'TODO.completed' | translate }}</label>
            <p-checkbox formControlName="completed" binary="true"></p-checkbox>
            <small class="form-text text-muted"> </small>
        </div>
        <button [disabled]="!addTodoForm.valid" type="button" class="btn btn-primary" (click)="submitAddTodoForm()">Submit</button>
    </form>
</div>
<p-messages [(value)]="msgs"></p-messages>